.sync-button {
  background-color: #ffffff;
}

.sync-button.needs-sync {
  border-color: #1890ff;
}

.sync-button.needs-sync:not(.syncing) {
  background: linear-gradient(to right, #1890ff var(--sync-progress), #ffffff var(--sync-progress));
}

.sync-button.syncing {
  background-color: #ffffff;
}